useDynLib(spssstatistics)

export(
    prespss,
    postspss,
    initRProcess,
    SetOutputFromBrowser,
    GetOutput,
    spssxmlworkspace.CreateXPathDictionary,
    spssxmlworkspace.GetHandleList,
    spssxmlworkspace.EvaluateXPath,
    spssxmlworkspace.DeleteXmlWorkspaceObject,
    spssRGraphics.Submit,
    spssRGraphics.SetOutput,
    spssRGraphics.SetGraphicsLabel,
    spsspkg.StartProcedure,
    spsspkg.EndProcedure,
    spssdictionary.GetDictionaryFromSPSS,
    spssdictionary.GetDetailedDictionaryFromSPSS,
    spssdictionary.GetUserMissingValues,
    spssdictionary.GetVariableName,
    spssdictionary.GetVariableNameInDS,
    spssdictionary.GetValueLabels,
    spssdictionary.GetVariableType,
    spssdictionary.GetVariableAttributeNames,
    spssdictionary.GetVariableAttributes,
    spssdictionary.GetDataFileAttributeNames,
    spssdictionary.GetDataFileAttributes,
    spssdictionary.GetMultiResponseSetNames,
    spssdictionary.GetMultiResponseSet,
    spssdictionary.IsWeighting,
    spssdictionary.GetWeightVariable,
    spssdictionary.CreateSPSSDictionary,
    spssdictionary.GetCategoricalDictionaryFromSPSS,
    spssdictionary.CategoryDictionaryValid,
    spssdictionary.EditCategoricalDictionary,
    spssdictionary.SetDictionaryToSPSS,
    spssdictionary.SetUserMissing,
    spssdictionary.SetValueLabel,
    spssdictionary.SetVariableAttributes,
    spssdictionary.SetDataFileAttributes,
    spssdictionary.SetMultiResponseSet,
    spssdictionary.SetActive,
    spssdictionary.CloseDataset,
    spssdictionary.EndDataStep,
    spssdictionary.GetVariableCount,
    spssdictionary.GetVariableLabel,
    spssdictionary.GetVariableFormatType,
    spssdictionary.GetVariableCountInDS,
    spssdictionary.GetVariableFormat,
    spssdictionary.GetVariableMeasurementLevel,
    missingFormat,
    spssdata.GetDataFromSPSS,
    spssdata.GetSplitDataFromSPSS,
    spssdata.CloseDataConnection,
    spssdata.GetSplitVariableCount,
    spssdata.GetSplitVariableNames,
    spssdata.IsLastSplit,
    spssdata.GetCaseCount,
    spssdata.GetDataSetList,
    spssdata.GetOpenedDataSetList,
    spssdata.SetDataToSPSS,
    spssdata.GetFileHandles,
    spssdata.IsSplitEnd,
    spsspkg.Version,
    spsspkg.GetSPSSLocale,
    spsspkg.SetOutputLanguage,
    spsspkg.GetOutputLanguage,
    spsspkg.GetStatisticsPath,
    spsspkg.SetOutput,
    spsspkg.GetSPSSVersion,
    GetSPSSVersion,
    spsspkg.GetSPSSPlugInVersion,
    GetSPSSPlugInVersion,
    spsspkg.helper,
    spsspkg.Syntax,
    spsspkg.Template,
    spsspkg.processcmd,
    spss.TextBlock,
    TextBlock.append,
    spss.BasePivotTable,
    BasePivotTable.Append,
    BasePivotTable.Insert,
    spss.CellText.String,
    spss.CellText.Number,
    spss.CellText.VarValue,
    BasePivotTable.SetCategories,
    BasePivotTable.SetCellValue,
    BasePivotTable.GetCellValue,
    CellText.toNumber,
    CellText.toString,
    BasePivotTable.Caption,
    BasePivotTable.SetDefaultFormatSpec,
    BasePivotTable.GetDefaultFormatSpec,
    BasePivotTable.SetCellsByRow,
    BasePivotTable.SetCellsByColumn,
    BasePivotTable.HideTitle,
    BasePivotTable.Footnotes,
    BasePivotTable.TitleFootnotes,
    BasePivotTable.OutlineFootnotes,
    BasePivotTable.DimensionFootnotes,
    BasePivotTable.CategoryFootnotes,
    spsspivottable.Display,
    Dimension.Place.row,
    Dimension.Place.column,
    Dimension.Place.layer,
    formatSpec.Coefficient,
    formatSpec.CoefficientSE,
    formatSpec.CoefficientVar,
    formatSpec.Correlation,
    formatSpec.GeneralStat,
    formatSpec.Mean,
    formatSpec.Count,
    formatSpec.Percent,
    formatSpec.PercentNoSign,
    formatSpec.Proportion,
    formatSpec.Significance,
    formatSpec.Residual,
    formatSpec.Variable,
    formatSpec.StdDev,
    formatSpec.Difference,
    formatSpec.Sum,
    spss.CellText.VarName,
    spsspkg.StartStatistics,
    spsspkg.StopStatistics,
    spsspkg.Submit,
    spsspkg.SetStatisticsOutput,
    spsspkg.IsXDriven,
    spsspkg.IsUTF8mode,
    spsspkg.IsBackendReady,
    spsspkg.IsDistributedMode
)
